.active {
    color: red;
}

#myModal {
    /*width: 298px; height: 218px;*/
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 18px 9px;
    /*border-radius: 4px;*/
    /*background: #fafafa;*/
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    /*margin: auto;*/
    display: none;
    opacity: 0;
    z-index: 38;
    /*text-align: center;*/
}
.modal-content {
    margin: auto;
    display: block;
    height: 100%;
    /*max-width: 700px;*/
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
}

#myModal #myModal__close {
    /*width: 21px;
    height: 21px;
    position: absolute;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;*/
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
#myOverlay {
    z-index: 37;
    position: fixed;
    background-color: rgba(0,0,0,.85);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor :pointer;
    display :none;
}
.myLinkModal {
    cursor: pointer;
}
.prev {
    position: absolute;
    top: 50%;
    left: -50px;
}
.next {
    position: absolute;
    top: 50%;
    right: -50px;
}
/*
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
*/

